body {
    box-sizing: border-box;
    background-color: #FFFFFF;
    text-align: center;
    justify-content: center;
    font-family: "Arial", Verdana, Tahoma, sans-serif, serif;
    font-style: normal;
    font-size: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 30px;
      }
      
h1 {
    font-size: 2em;
    background-color: #A1E4CC;
    color: white;
    }    
h2 {
    font-size: 1.6em;
    color: black;
    }
    
p {
    font-size: 1.3em;
    color: black;
    }
ul.funlist {
    list-style-position: outside;
    font-size: 1.3em;
    }
a:link {
    background-color: #A1E4CC;
    color: #FFFFFF;
    display: block;
    font-size: 1.3em;
  }
  a:visited {
    color: #FFFFFF;
  }
  a:hover {
    color: #000000;
  }
  a:active {
    color:#63c7a4;
  }
img {
    border: 15px double #A1E4CC;
    margin: 10px;
    max-width: 480px;
    border-radius: 50%;
    position: relative; 
    box-shadow: 60px 20px #A1E4CC;
  }
  
.picDiv{
    padding: 10px;
    position: relative; 
    justify-content: center;
}
.intro{
  padding: 10px;
  width: 30%;
  position: absolute;
  top: 400px;
  left: 200px;
}
.top{
  position: relative;
  text-align: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  display: flex;
  background-image: url("https://cdn.shopify.com/s/files/1/0516/0642/1661/products/screen_2x_52877d28-3cac-407f-95db-195388d27951_4472x.jpg?v=1624829448");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: auto;
}
.bioDiv {
    background-color: #ffffff;
    width: 100%;
    min-height: 400px;
}
.funDiv {
    background-color: #ffffff;
    list-style: circle;
    width: 100%;
    min-height: 400px;
}
.linksDiv {
    border: 3px double #A1E4CC;
    background-color: #ffffff;
    width: 100%;
    min-height: 400px;
}

.contactDiv{
  
  background-color: #A1E4CC;
  list-style: circle;
  width: 100%;
  min-height: 400px;
  color: #FFFFFF;
  text-align: center;
  font-family: "Arial", Verdana, Tahoma, sans-serif, serif;
  font-style: normal;
  font-size: 100%;
}
/* @media (min-width: 30em) {  */
/* } */